<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite" verbose="1" >
    <test name="Login/Logout" >
        <classes>
            <class name="automationFramework.LoginLogout" />
        </classes>
    </test>

    <test name="StandartPurchase" >
        <classes>
            <class name="automationFramework.StandartPurchase" />
        </classes>
    </test>

    <test name="RegistrationPurchase" >
        <classes>
            <class name="automationFramework.RegistrationPurchase" />
        </classes>
    </test>

    <test name="CustomerPurchase" >
        <classes>
            <class name="automationFramework.CustomerPurchase" />
        </classes>
    </test>

    <test name="GuestPurchase" >
        <classes>
            <class name="automationFramework.GuestPurchase" />
        </classes>
    </test>

    <test name="ReferrerPurchase" >
        <classes>
            <class name="automationFramework.ReferrerPurchase" />
        </classes>
    </test>


</suite>
